@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --yellow: oklch(0.8655 0.1495 93.36);
  --white: oklch(1 0 0);
  --gray-950:oklch(0.1776 0 0);
  --gray-500: oklch(0.5278 0 0);

   --space-3xs: clamp(0.125rem, 0.081rem + 0.1878vw, 0.25rem);
  --space-2xs: clamp(0.25rem, 0.162rem + 0.3756vw, 0.5rem);
  --space-xs: clamp(0.4375rem, 0.3275rem + 0.4695vw, 0.75rem);
  --space-s: clamp(0.875rem, 0.6549rem + 0.939vw, 1.5rem);
  --space-m: clamp(1.3125rem, 0.9824rem + 1.4085vw, 2.25rem);
  --space-l: clamp(1.75rem, 1.3099rem + 1.8779vw, 3rem);
  --space-xl: clamp(2.625rem, 1.9648rem + 2.8169vw, 4.5rem);
  --space-2xl: clamp(3.5rem, 2.6197rem + 3.7559vw, 6rem);
  --space-3xl: clamp(5.25rem, 3.9296rem + 5.6338vw, 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.125rem, -0.007rem + 0.5634vw, 0.5rem);
  --space-2xs-xs: clamp(0.25rem, 0.0739rem + 0.7512vw, 0.75rem);
  --space-xs-s: clamp(0.4375rem, 0.0634rem + 1.5962vw, 1.5rem);
  --space-s-m: clamp(0.875rem, 0.3908rem + 2.0657vw, 2.25rem);
  --space-m-l: clamp(1.3125rem, 0.7183rem + 2.5352vw, 3rem);
  --space-l-xl: clamp(1.75rem, 0.7817rem + 4.1315vw, 4.5rem);
  --space-xl-2xl: clamp(2.625rem, 1.4366rem + 5.0704vw, 6rem);
  --space-2xl-3xl: clamp(3.5rem, 1.5634rem + 8.2629vw, 9rem);

  /* Custom pairs */
  --space-s-l: clamp(0.875rem, 0.1268rem + 3.1925vw, 3rem);


  /* font 14-24 px*/
  --step--2: clamp(0.6076rem, 0.4836rem + 0.5294vw, 0.96rem);
  --step--1: clamp(0.7292rem, 0.5634rem + 0.7074vw, 1.2rem);
  --step-0: clamp(0.875rem, 0.6549rem + 0.939vw, 1.5rem);
  --step-1: clamp(1.05rem, 0.7595rem + 1.2394vw, 1.875rem);
  --step-2: clamp(1.26rem, 0.8784rem + 1.6282vw, 2.3438rem);
  --step-3: clamp(1.512rem, 1.0128rem + 2.1299vw, 2.9297rem);
  --step-4: clamp(1.8144rem, 1.1638rem + 2.7759vw, 3.6621rem);
  --step-5: clamp(2.1773rem, 1.3321rem + 3.6062vw, 4.5776rem);

  --figtree: "Figtree", sans-serif;

}
